# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
*.egg

# Entornos virtuales
.venv/
venv/
env/

# Herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Partidas guardadas
save.json
*.save.json
